<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="CurrencyURL" value="http://www.apilayer.net/api/live?access_key=9f011e5b35e7990d360073da30a7f8f2"/>
  </appSettings>
</configuration>